# rnacos 指定配置文件有两种方式：
# 1. 默认文件（放置于运行目录下，文件名为“.env”，自动读取）
# 2. 指定文件（放置于任意目录下， 通过 命令行参数“-e 文件路径”形式指定， 如“./rnacos -e /etc/rnacos/conf/default.cnf”）
# 更多说明请参照  https://r-nacos.github.io/docs/notes/env_config

# r-nacos监听http端口，默认值：8848
RNACOS_HTTP_PORT=8848

#r-nacos监听grpc端口，默认值：HTTP端口+1000(即9848） 
RNACOS_GRPC_PORT=9848

#r-nacos独立控制台端口，默认值：HTTP端口+2000(即10848）;设置为0可不开启独立控制台
RNACOS_HTTP_CONSOLE_PORT=10848

#r-nacos控制台登录1小时失败次数限制默认是5,一个用户连续登陆失败5次，会被锁定1个小时 ，默认值：1
RNACOS_CONSOLE_LOGIN_ONE_HOUR_LIMIT=5

#http工作线程数，默认值：cpu核数 
#RNACOS_HTTP_WORKERS=8

#配置中心的本地数据库文件夹, 会在系统运行时自动创建; 默认值：linux,MacOS默认为~/.local/share/r-nacos/nacos_db;windows,docker默认为nacos_db
RNACOS_DATA_DIR=nacos_db

#节点id，默认值：1
RNACOS_RAFT_NODE_ID=1

#节点地址Ip:GrpcPort,单节点运行时每次启动都会生效；多节点集群部署时，只取加入集群时配置的值，默认值：127.0.0.1:GrpcPort 
RNACOS_RAFT_NODE_ADDR=127.0.0.1:9848

#是否当做主节点初始化,(只在每一次启动时生效)节点1时默认为true,节点非1时为false 
#RNACOS_RAFT_AUTO_INIT=true


#是否当做节点加入对应的主节点,LeaderIp:GrpcPort；只在第一次启动时生效；默认值：空 
#RNACOS_RAFT_JOIN_ADDR=127.0.0.1:9848

#日志等级:debug,info,warn,error;所有http,grpc请求都会打info日志,如果不关注，可以设置为error 减少日志量，默认值：info
RUST_LOG=info

# 是否开启无鉴权控制台 
RNACOS_ENABLE_NO_AUTH_CONSOLE=false

# 控制台登陆有效时长(单位为秒)，默认86400秒（一天）
#RNACOS_CONSOLE_LOGIN_TIMEOUT=86400

# 日志时间的时区，单位小时；默认为本机时区，运行在docker时需要指定； 示例: 8(东8区),-5(西5区)
#RNACOS_GMT_OFFSET_HOURS=8


#是否对openapi开启鉴权,默认为false（注：nacos切换到r-nacos过程中不要开启鉴权）
#RNACOS_ENABLE_OPEN_API_AUTH=false

#open api鉴权有效时长，单位为秒，默认3600秒 （注：从不鉴权到开启鉴权，需要间隔对应时长以保证客户端token能更新生效)
#RNACOS_API_LOGIN_TIMEOUT=3600

#集群间的通信请求校验token，空表示不开启校验，设置后只有相同token的节点间才可通讯;默认为字符串
#RNACOS_CLUSTER_TOKEN=bbd8b0b391254e00ae1a7c8ac6ed5f82

#数据备份接口请求校验token，空或长度小于32位表示不开启备份接口
#RNACOS_BACKUP_TOKEN=

# 初始化管理员用户名，只在主节点第一次启动时生效，默认值：admin
RNACOS_INIT_ADMIN_USERNAME=admin

# 初始化管理员密码在主节点第一次启动时生效，默认值：admin
RNACOS_INIT_ADMIN_PASSWORD=admin

#是否开启监控指标功能,开启后支持prometheus metrics exporter http://127.0.0.1:8848/metrics
RNACOS_ENABLE_METRICS=true

#监控指标采集指标间隔,单位秒,最小间隔为1秒,不能小于RNACOS_METRICS_LOG_INTERVAL_SECOND
RNACOS_METRICS_COLLECT_INTERVAL_SECOND=15

#监控指标采集打印到日志的间隔,单位秒,最小间隔为5秒
RNACOS_METRICS_LOG_INTERVAL_SECOND=60

# 验证码的开关，在使用 openapi 进行管理获取 token 的时候需要,设置为false的时候，
# 需要将密码base64，验证码为空后进行传递
RNACOS_CONSOLE_ENABLE_CAPTCHA=true

#是否启用LDAP认证,默认值为false 
RNACOS_LDAP_ENABLE=false
#LDAP服务器地址,默认值为空字符串
#RNACOS_LDAP_URL=ldap://localhost:389
#LDAP用户基础DN,默认值为空字符串
#RNACOS_LDAP_USER_BASE_DN=ou=people,dc=example,dc=com
#LDAP用户过滤器,默认值为空字符串
#RNACOS_LDAP_USER_FILTER=(&(objectClass=person)(uid=%s))
#LDAP开发者角色包含的用户组(多个用逗号分隔，用户只要包含一个就是开发者),默认值为空集合
#RNACOS_LDAP_USER_DEVELOPER_GROUP=dev_group1,dev_group2
#LDAP管理员角色包含的用户组(多个用逗号分隔，用户只要包含一个就是管理员),默认值为空集合
#RNACOS_LDAP_USER_ADMIN_GROUP=admin_group1,admin_group2
#LDAP用户默认角色,支持的值有：访客:VISITOR,开发者:DEVELOPER,管理员:ADMIN;默认值为VISITOR
#RNACOS_LDAP_USER_DEFAULT_ROLE=VISITOR
